/.DS_Store
/3.png
/A.css
/A.html
/A2.css
/A2.html
/Anthony.css
/Anthony.html
/Assignment.css
/Assignment.html
/Assignment.js
/Assignment2.css
/Assignment2.html
/Calculator.css
/Calculator.html
/Display.css
/Display.html
/Fan.css
/Fan.html
/Generator.css
/Generator.html
/Has.css
/Has.html
/Login.css
/Login.html
/Netflix.css
/Netflix.html
/New.jpeg
/Password.css
/Password.html
/Phone.css
/Phone.html
/Take.css
/Take.html
/Try.css
/Try.html
/Try.js
/about.png
/assign.css
/assign.html
/assign2.css
/assign2.html
/block.css
/block.html
/block1.css
/block1.html
/cbt.css
/cbt.html
/cherrydeck-05gac-Qn0k4-unsplash.jpg
/class.css
/class.html
/classwork.html
/classwork2.html
/css.css
/cws.css
/dicson-DGR8WnY7pgw-unsplash.jpg
/europeana-O_prx0wGg3E-unsplash.jpg
/friendship-concept-with-guys-outdoors.jpg
/fuck.jpg
/generate.js
/hero.png
/images.jpeg
/jk.jpg
/js.html
/js.js
/juan-aguirre-saravia-yNx4O-6zljM-unsplash.jpg
/kill.jpg
/l.png
/letter-p_8370552.png
/logo.png
/m.png
/menu.png
/person.png
/product-1.png
/product-3.png
/product-4.png
/profile_16799434.png
/sample.css
/sample.html
/sex.css
/sex.html
/sex1.css
/sex1.html
/sex2.css
/sex2.html
/sex3.css
/sex3.html
/sex4.css
/sex4.html
/steaming-cup-coffee-saucer-with-coffee-beans-scattered-around (1).jpg
/t.png
/time.css
/time.html
/tommao-wang-jr1DdTyU7eA-unsplash.jpg
/user.png
/valentin-fernandez-07V1NiozmHM-unsplash.jpg
/video.png
/what.jpg
/wooden-boat-sailing-river-ganges-varanasi-india.jpg
/wrs-tm-pl-TCkIri6lxEo-unsplash.jpg